In [136]:
import pandas as pd
import numpy as np

In [96]:
companies = pd.read_csv("companies.csv")
companies.shape

(66368, 10)

In [97]:
rounds2 = pd.read_csv("rounds2.csv")
rounds2.shape

(114949, 6)

In [98]:
mapping = pd.read_csv("mapping.csv")
mapping.shape

(688, 10)

In [99]:
companies.permalink = companies.permalink.str.upper()
rounds2.company_permalink = rounds2.company_permalink.str.upper()

In [100]:
distinct_companies = companies.permalink.unique()
distinct_companies_r = rounds2.company_permalink.unique()

In [101]:
z = companies.permalink.isin(rounds2.company_permalink)

p = rounds2.company_permalink.isin(companies.permalink)

In [102]:
master_frame = rounds2.merge(companies, left_on ='company_permalink', right_on = 'permalink',how = 'outer')
master_frame.shape

(114949, 16)

In [103]:
master_frame.funding_round_type = master_frame.funding_round_type.str.lower()
funding_type_list = ['venture','seed','angel','private_equity']
funding_type_df = master_frame[master_frame['funding_round_type'].isin(funding_type_list)]
funding_type_df.shape

(94397, 16)

In [104]:
funding_type_group = funding_type_df.groupby(['funding_round_type'])
funding_type_group[['raised_amount_usd']].mean()

                    raised_amount_usd
funding_round_type
angel                    9.586945e+05
private_equity           7.330859e+07
seed                     7.198180e+05
venture                  1.174895e+07

In [105]:
funding_type_mean = funding_type_df.groupby('funding_round_type').agg({'raised_amount_usd':'mean'})
funding_type_mean = funding_type_mean.sort_values('raised_amount_usd',ascending=False)
funding_type_mean.query('raised_amount_usd >= 5000000 & raised_amount_usd <= 15000000')

                    raised_amount_usd
funding_round_type
venture                  1.174895e+07

In [213]:
master_frame_venture = master_frame[master_frame['funding_round_type'] == 'venture']
master_frame_venture.groupby('country_code').agg({'raised_amount_usd':'sum'}).sort_values(
                                        'raised_amount_usd',ascending=False).head(9)

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.259537e+09
ISR                6.907515e+09
DEU                6.346960e+09
JPN                3.363677e+09

In [107]:
mapping = mapping.dropna(thresh=10)
mapping.head(6)

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1

In [108]:
mapping.category_list = mapping.category_list.str.replace('0','na')
mapping.category_list = mapping.category_list.str.replace('2.na','2.0')

In [109]:
mapping = pd.melt(mapping,id_vars=['category_list'])
mapping.head(10)

           category_list             variable  value
0                     3D  Automotive & Sports      0
1            3D Printing  Automotive & Sports      0
2          3D Technology  Automotive & Sports      0
3             Accounting  Automotive & Sports      0
4       Active Lifestyle  Automotive & Sports      0
5           Ad Targeting  Automotive & Sports      0
6     Advanced Materials  Automotive & Sports      0
7       Adventure Travel  Automotive & Sports      1
8            Advertising  Automotive & Sports      0
9  Advertising Exchanges  Automotive & Sports      0

In [110]:
mapping = mapping[mapping['value'] == 1]
del mapping['value']

In [111]:
mapping.shape
master_frame.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/15,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/14
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,1/3/14,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/14
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,1/1/07

In [112]:
master_frame['primary_sector'] = master_frame.category_list.str.split('|',1).str[0]
master_frame.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/15,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/14,Application Platforms
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,1/3/14,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/14,Application Platforms
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,1/1/07,Curated Web

In [113]:
master_frame['primary_sector'] = master_frame['primary_sector'].str.lower()
mapping['category_list'] = mapping['category_list'].str.lower()

In [214]:
master_frame = master_frame.merge(mapping, left_on ='primary_sector', 
                                  right_on = 'category_list',how = 'left')

master_frame.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,variable_x,category_list,variable_y
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/15,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,...,IND,16,Mumbai,Mumbai,NaN,media,media,Entertainment,media,Entertainment
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,...,USA,DE,DE - Other,Delaware City,4/9/14,application platforms,application platforms,"News, Search and Messaging",application platforms,"News, Search and Messaging"
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,1/3/14,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,...,USA,DE,DE - Other,Delaware City,4/9/14,application platforms,application platforms,"News, Search and Messaging",application platforms,"News, Search and Messaging"
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,...,NaN,NaN,NaN,NaN,NaN,apps,apps,"News, Search and Messaging",apps,"News, Search and Messaging"
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,...,CHN,22,Beijing,Beijing,1/1/07,curated web,curated web,"News, Search and Messaging",curated web,"News, Search and Messaging"

In [115]:
master_frame.shape

(114949, 19)

In [116]:
D1 = master_frame.query('funding_round_type == "venture" & country_code == "USA" & raised_amount_usd >=5000000 & raised_amount_usd <= 15000000')
D1.shape

(12150, 19)

In [118]:
D2 = master_frame.query('funding_round_type == "venture" & country_code == "GBR" & raised_amount_usd >=5000000 & raised_amount_usd <= 15000000')
D2.shape

(628, 19)

In [119]:
D3 = master_frame.query('funding_round_type == "venture" & country_code == "IND" & raised_amount_usd >=5000000 & raised_amount_usd <= 15000000')
D3.shape

(330, 19)


D2_group = D2.groupby('variable')
D3_group = D3.groupby('variable')

D1_top3 = D1.groupby('variable').agg({'raised_amount_usd':'count'})
D1_top3

In [170]:
def my_agg(x):
    names = {
        'investment_sector_count': x['raised_amount_usd'].count(),
        'investment_sector_total':  x['raised_amount_usd'].mean()}
    return pd.Series(names, index=['investment_sector_count', 'investment_sector_total'])

In [172]:
D1_group_df = D1.groupby('variable').apply(my_agg)
D1 = D1.merge(D1_group_df,left_on = 'variable', right_on = 'variable',how='left')

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,variable,investment_sector_count,investment_sector_total
0,/ORGANIZATION/0XDATA,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,...,USA,CA,SF Bay Area,Mountain View,1/1/11,analytics,analytics,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
1,/ORGANIZATION/1-MAINSTREAM,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,...,USA,CA,SF Bay Area,Cupertino,1/3/12,apps,apps,"News, Search and Messaging",1583.0,8.826006e+06
2,/ORGANIZATION/128-TECHNOLOGY,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.0,/ORGANIZATION/128-TECHNOLOGY,128 Technology,http://www.128technology.com/,Service Providers|Technology,...,USA,MA,Boston,Burlington,7/7/14,service providers,service providers,Others,2950.0,8.922375e+06
3,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,C,15-10-2013,15000000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,...,USA,MA,Boston,Bedford,1/1/07,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
4,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,C,9/4/15,5000000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,...,USA,MA,Boston,Bedford,1/1/07,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
5,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/786f61aa9866f4471151285f5c56be36,venture,A,3/2/10,5150000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,...,USA,MA,Boston,Bedford,1/1/07,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
6,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/82ace97530965cd2be8f262836b43ff5,venture,A,27-03-2008,12400000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,...,USA,MA,Boston,Bedford,1/1/07,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
7,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/ab99fc5a53717b1b53fd6aa5687c5fa9,venture,B,16-12-2010,6000000.0,/ORGANIZATION/1366-TECHNOLOGIES,1366 Technologies,http://www.1366tech.com,Manufacturing,...,USA,MA,Boston,Bedford,1/1/07,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
8,/ORGANIZATION/170-SYSTEMS,/funding-round/b84bb882ca873f5fb96535671981196d,venture,A,16-04-2002,14000000.0,/ORGANIZATION/170-SYSTEMS,170 Systems,http://www.170systems.com,Software,...,USA,MA,Boston,Bedford,1/1/90,software,software,Others,2950.0,8.922375e+06
9,/ORGANIZATION/17ZUOYE,/funding-round/69690484f51e15bc27ff52bfe472cd96,venture,A,1/1/11,5000000.0,/ORGANIZATION/17ZUOYE,17zuoye,http://www.17zuoye.com/,Education|Language Learning,...,USA,VA,VA - Other,Shanghai,1/1/07,education,education,Others,2950.0,8.922375e+06
10,/ORGANIZATION/17ZUOYE,/funding-round/8d87f771e938e0f31641bd600abbafca,venture,B,1/9/13,10000000.0,/ORGANIZATION/17ZUOYE,17zuoye,http://www.17zuoye.com/,Education|Language Learning,...,USA,VA,VA - Other,Shanghai,1/1/07,education,education,Others,2950.0,8.922375e+06
11,/ORGANIZATION/1BOG,/funding-round/3d2463c9b97f32b3be8747fbd629961f,venture,A,11/2/10,5000000.0,/ORGANIZATION/1BOG,One Block Off the Grid (1BOG),http://1bog.org,Clean Technology|Residential Solar,...,USA,CA,SF Bay Area,San Francisco,1/11/08,clean technology,clean technology,Cleantech / Semiconductors,2350.0,9.205715e+06
12,/ORGANIZATION/1STDIBS,/funding-round/292b074d073fdd9c7e9d8f372c3aa5f6,venture,C,24-01-2014,15000000.0,/ORGANIZATION/1STDIBS,1stdibs,http://www.1stdibs.com,E-Commerce,...,USA,NY,New York City,New York,1/1/01,e-commerce,e-commerce,Others,2950.0,8.922375e+06
13,/ORGANIZATION/2080-MEDIA,/funding-round/281939941d4818948129b8349dbf5f14,venture,E,30-11-2015,8000000.0,/ORGANIZATION/2080-MEDIA,2080 Media,NaN,News,...,USA,GA,Atlanta,Atlanta,1/1/08,news,news,"News, Search and Messaging",1583.0,8.826006e+06
14,/ORGANIZATION/2080-MEDIA,/funding-round/fbbda7a2eacc73185353890b9028797c,venture,NaN,6/9/11,7200000.0,/ORGANIZATION/2080-MEDIA,2080 Media,NaN,News,...,USA,GA,Atlanta,Atlanta,1/1/08,news,news,"News, Search and Messaging",1583.0,8.826006e+06
15,/ORGANIZATION/21E6,/funding-round/bdf9f5bf67ee51155eae223acac57ec5,venture,A,17-11-2013,5050000.0,/ORGANIZATION/21E6,21 Inc,https://21.co,Big Data|Bitcoin|Hardware + Software|Technology,...,USA,CA,SF Bay Area,San Francisco,1/5/13,big data,big data,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
16,/ORGANIZATION/22ND-CENTURY-GROUP,/funding-round/50617d7ea8eaa838e2fd8eb8dfe06054,venture,NaN,18-09-2014,10000000.0,/ORGANIZATION/22ND-CENTURY-GROUP,22nd Century Group,http://www.xxiicentury.com,Biotechnology,...,USA,NY,NY - Other,Clarence,1/1/98,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
17,/ORGANIZATION/23ANDME,/funding-round/97062e0d50c2955cbe40bf8220d87b08,venture,C,7/1/11,9000000.0,/ORGANIZATION/23ANDME,23andMe,http://23andme.com,Biotechnology|Search,...,USA,CA,SF Bay Area,Mountain View,1/4/06,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
18,/ORGANIZATION/23ANDME,/funding-round/c27c1b420dfb34677a6ba449524f1c88,venture,B,18-06-2009,12600000.0,/ORGANIZATION/23ANDME,23andMe,http://23andme.com,Biotechnology|Search,...,USA,CA,SF Bay Area,Mountain View,1/4/06,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
19,/ORGANIZATION/23ANDME,/funding-round/f261366b4fbf1840ad71b20ea0d9c7ce,venture,A,3/10/07,9000000.0,/ORGANIZATION/23ANDME,23andMe,http://23andme.com,Biotechnology|Search,...,USA,CA,SF Bay Area,Mountain View,1/4/06,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
20,/ORGANIZATION/28MSEC,/funding-round/ce3a68e4a52892784f1ad085e5d7035a,venture,NaN,28-10-2013,5844811.0,/ORGANIZATION/28MSEC,28msec,http://www.28msec.com,Cloud Computing|Databases|Software|Web Develop...,...,USA,CA,SF Bay Area,Palo Alto,1/1/08,cloud computing,cloud computing,"News, Search and Messaging",1583.0,8.826006e+06
21,/ORGANIZATION/2ND-WATCH,/funding-round/08108acd1a58480a1331ee7d4bc9abda,venture,C,14-10-2014,10000000.0,/ORGANIZATION/2ND-WATCH,2nd Watch,http://2ndwatch.com,Cloud Infrastructure|Corporate IT|Enterprise S...,...,USA,WA,Seattle,Seattle,1/1/10,cloud infrastructure,cloud infrastructure,"News, Search and Messaging",1583.0,8.826006e+06
22,/ORGANIZATION/2U,/funding-round/27a95d0c30dc3973c48cbd363df0a900,venture,D,21-10-2013,5100000.0,/ORGANIZATION/2U,2U Inc.,http://2u.com,EdTech|Education|Software,...,USA,MD,MD - Other,Hyattsville,1/1/08,edtech,edtech,Others,2950.0,8.922375e+06
23,/ORGANIZATION/2U,/funding-round/54874a891ac80a0a6b87e6a8eaf79fe8,venture,A,21-06-2009,10000000.0,/ORGANIZATION/2U,2U Inc.,http://2u.com,EdTech|Education|Software,...,USA,MD,MD - Other,Hyattsville,1/1/08,edtech,edtech,Others,2950.0,8.922375e+06
24,/ORGANIZATION/3-V-BIOSCIENCES,/funding-round/069e2f1ded2f499d232c3d7ec762c0e2,venture,NaN,17-03-2015,14278567.0,/ORGANIZATION/3-V-BIOSCIENCES,3-V Biosciences,http://www.3vbio.com,Biotechnology,...,USA,CA,SF Bay Area,Menlo Park,1/3/07,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
25,/ORGANIZATION/3-V-BIOSCIENCES,/funding-round/46d6b237a6ec43e6c1682e15861e3d4b,venture,NaN,1/10/12,8089000.0,/ORGANIZATION/3-V-BIOSCIENCES,3-V Biosciences,http://www.3vbio.com,Biotechnology,...,USA,CA,SF Bay Area,Menlo Park,1/3/07,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
26,/ORGANIZATION/3-V-BIOSCIENCES,/funding-round/e4061ffff8109f50ccec406a3a56d7e5,venture,A,22-05-2007,7610000.0,/ORGANIZATION/3-V-BIOSCIENCES,3-V Biosciences,http://www.3vbio.com,Biotechnology,...,USA,CA,SF Bay Area,Menlo Park,1/3/07,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
27,/ORGANIZATION/33ACROSS,/funding-round/a45d977b48cb54216eb705d59b24ca19,venture,C,19-07-2012,13100000.0,/ORGANIZATION/33ACROSS,33Across,http://www.33across.com,Advertising|Advertising Platforms|Content Disc...,...,USA,NY,New York City,New York,1/9/07,advertising,advertising,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
28,/ORGANIZATION/33ACROSS,/funding-round/bfc2233768b7c79ed58ad7561423e555,venture,B,5/1/11,9000000.0,/ORGANIZATION/33ACROSS,33Across,http://www.33across.com,Advertising|Advertising Platforms|Content Disc...,...,USA,NY,New York City,New York,1/9/07,advertising,advertising,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
29,/ORGANIZATION/360COMMERCE,/funding-round/1c51042e815e96ed2653ae9ced99dfc4,venture,C,29-10-2003,12000000.0,/ORGANIZATION/360COMMERCE,360Commerce,NaN,Information Technology|Retail|Software,...,USA,TX,Austin,Austin,NaN,information technology,information technology,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12120,/ORGANIZATION/ZUBERANCE,/funding-round/718c80b018f1d8e1cc038964cd84dbaf,venture,B,26-10-2010,8000000.0,/ORGANIZATION/ZUBERANCE,Zuberance,http://www.zuberance.com,Advertising|Direct Marketing|Sales and Marketi...,...,USA,CA,SF Bay Area,San Carlos,1/2/07,advertising,advertising,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12121,/ORGANIZATION/ZUBIE,/funding-round/c834914cc13644c86b33542a0622ee8e,venture,A,12/12/13,10000000.0,/ORGANIZATION/ZUBIE,Zubie,http://www.zubie.co,Hardware + Software,...,USA,SC,"Charleston, South Carolina",Sullivans Island,1/5/12,hardware + software,hardware + software,Manufacturing,799.0,9.084547e+06
12122,/ORGANIZATION/ZUBIE,/funding-round/ea69d3fdbe442c861d7aaa5caed3794f,venture,B,11/8/14,8000000.0,/ORGANIZATION/ZUBIE,Zubie,http://www.zubie.co,Hardware + Software,...,USA,SC,"Charleston, South Carolina",Sullivans Island,1/5/12,hardware + software,hardware + software,Manufacturing,799.0,9.084547e+06
12123,/ORGANIZATION/ZUDY,/funding-round/c01bd7bdf8be09521f37bc927f410daf,venture,NaN,18-12-2014,7500000.0,/ORGANIZATION/ZUDY,Zudy,http://zudy.com,Software,...,USA,FL,Miami,Miami,1/1/13,software,software,Others,2950.0,8.922375e+06
12124,/ORGANIZATION/ZULILY,/funding-round/c1175b564b8b82aabf53839234e4bc39,venture,B,4/8/10,6000000.0,/ORGANIZATION/ZULILY,zulily,http://www.zulily.com,Babies|E-Commerce|Flash Sales|Kids|Retail|Spec...,...,USA,WA,Seattle,Seattle,1/1/10,babies,babies,Health,909.0,9.033949e+06
12125,/ORGANIZATION/ZUMBOX,/funding-round/02e7212e338f3248038c51d7fa2863e0,venture,NaN,24-12-2010,9700000.0,/ORGANIZATION/ZUMBOX,Zumbox,https://www.zumbox.com/,Curated Web|Internet,...,USA,CA,Los Angeles,Los Angeles,1/10/06,curated web,curated web,"News, Search and Messaging",1583.0,8.826006e+06
12126,/ORGANIZATION/ZUMBOX,/funding-round/4e3d60192265acafca017492e9c61780,venture,C,10/7/12,10600000.0,/ORGANIZATION/ZUMBOX,Zumbox,https://www.zumbox.com/,Curated Web|Internet,...,USA,CA,Los Angeles,Los Angeles,1/10/06,curated web,curated web,"News, Search and Messaging",1583.0,8.826006e+06
12127,/ORGANIZATION/ZUMBOX,/funding-round/9b8eedca72152f82dd5f2101b1456ef9,venture,NaN,3/12/09,5000000.0,/ORGANIZATION/ZUMBOX,Zumbox,https://www.zumbox.com/,Curated Web|Internet,...,USA,CA,Los Angeles,Los Angeles,1/10/06,curated web,curated web,"News, Search and Messaging",1583.0,8.826006e+06
12128,/ORGANIZATION/ZUMIGO,/funding-round/a56a2ed5f80dfc9974c3c183a4a6f786,venture,B,22-08-2014,6000000.0,/ORGANIZATION/ZUMIGO,Zumigo,http://www.zumigo.com,Information Services|Location Based Services,...,USA,CA,SF Bay Area,San Jose,1/1/08,information services,information services,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12129,/ORGANIZATION/ZUMOBI,/funding-round/7c851e1658d23b45351fb33c16a3d629,venture,A,7/5/07,12000000.0,/ORGANIZATION/ZUMOBI,Zumobi,http://www.zumobi.com,Mobile,...,USA,WA,Seattle,Seattle,1/3/07,mobile,mobile,"News, Search and Messaging",1583.0,8.826006e+06
12130,/ORGANIZATION/ZUMPER,/funding-round/6b597cf5bc96467a3577641ab8142c10,venture,A,4/3/14,6500000.0,/ORGANIZATION/ZUMPER,Zumper,https://www.zumper.com,Online Rental|Real Estate|Rental Housing,...,USA,CA,SF Bay Area,San Francisco,1/1/12,online rental,online rental,"News, Search and Messaging",1583.0,8.826006e+06
12131,/ORGANIZATION/ZUMPER,/funding-round/a145d8e39911f656b4fbf8d737d51ea5,venture,A,25-06-2015,6400000.0,/ORGANIZATION/ZUMPER,Zumper,https://www.zumper.com,Online Rental|Real Estate|Rental Housing,...,USA,CA,SF Bay Area,San Francisco,1/1/12,online rental,online rental,"News, Search and Messaging",1583.0,8.826006e+06
12132,/ORGANIZATION/ZUNIVERSITY-COM,/funding-round/a058abef15e17654e754acd8d4303af8,venture,B,10/1/01,10000000.0,/ORGANIZATION/ZUNIVERSITY-COM,zUniversity,http://zuniversity.com/,Education,...,USA,CT,Hartford,Stamford,NaN,education,education,Others,2950.0,8.922375e+06
12133,/ORGANIZATION/ZUORA,/funding-round/68f1db0042a6aa40fa76a04f77b93175,venture,A,13-03-2008,6500000.0,/ORGANIZATION/ZUORA,Zuora,http://www.zuora.com,Billing|SaaS|Software,...,USA,CA,SF Bay Area,Foster City,1/1/07,billing,billing,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12134,/ORGANIZATION/ZUORA,/funding-round/caca3a1c3d71ec0c9c303e0568e96f87,venture,B,28-10-2008,15000000.0,/ORGANIZATION/ZUORA,Zuora,http://www.zuora.com,Billing|SaaS|Software,...,USA,CA,SF Bay Area,Foster City,1/1/07,billing,billing,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12135,/ORGANIZATION/ZUREX-PHARMA,/funding-round/571fd39c33928efba3242bc4433a3665,venture,A,22-05-2012,6200000.0,/ORGANIZATION/ZUREX-PHARMA,Zurex Pharma,http://www.zurex-pharma.com,Health Care,...,USA,WI,Madison,Middleton,1/1/10,health care,health care,Health,909.0,9.033949e+06
12136,/ORGANIZATION/ZVENTS,/funding-round/af717b723340256599a90f2a6ea6c1f0,venture,A,7/11/06,7000000.0,/ORGANIZATION/ZVENTS,Zvents,http://www.zvents.com,Concerts|Curated Web|Entertainment|Events|Kids...,...,USA,CA,SF Bay Area,San Mateo,1/3/05,concerts,concerts,Entertainment,591.0,8.628085e+06
12137,/ORGANIZATION/ZYGA-TECHNOLOGY,/funding-round/00d2d8d0c604892594b4bd25cf7e18b8,venture,C,16-12-2013,10000000.0,/ORGANIZATION/ZYGA-TECHNOLOGY,Zyga Technology,http://zyga.com,Health Care|Medical Devices,...,USA,MN,Minneapolis,Minnetonka,1/1/08,health care,health care,Health,909.0,9.033949e+06
12138,/ORGANIZATION/ZYGA-TECHNOLOGY,/funding-round/b43977b01d7e4d942e9ad971559de042,venture,NaN,2/6/11,5000000.0,/ORGANIZATION/ZYGA-TECHNOLOGY,Zyga Technology,http://zyga.com,Health Care|Medical Devices,...,USA,MN,Minneapolis,Minnetonka,1/1/08,health care,health care,Health,909.0,9.033949e+06
12139,/ORGANIZATION/ZYGA-TECHNOLOGY,/funding-round/b7561b5b751428e473d118cae37f776d,venture,NaN,6/10/08,5750000.0,/ORGANIZATION/ZYGA-TECHNOLOGY,Zyga Technology,http://zyga.com,Health Care|Medical Devices,...,USA,MN,Minneapolis,Minnetonka,1/1/08,health care,health care,Health,909.0,9.033949e+06
12140,/ORGANIZATION/ZYGA-TECHNOLOGY,/funding-round/f7ad1ad4a268c3ea68fd01a7db2d25ab,venture,E,20-11-2015,5000000.0,/ORGANIZATION/ZYGA-TECHNOLOGY,Zyga Technology,http://zyga.com,Health Care|Medical Devices,...,USA,MN,Minneapolis,Minnetonka,1/1/08,health care,health care,Health,909.0,9.033949e+06
12141,/ORGANIZATION/ZYGO-CORPORATION,/funding-round/d2c6bee0114056f3018667a9b5ab13ba,venture,NaN,24-10-2011,9000000.0,/ORGANIZATION/ZYGO-CORPORATION,Zygo Corporation,http://www.zygo.com,Manufacturing,...,USA,CT,CT - Other,Middlefield,NaN,manufacturing,manufacturing,Manufacturing,799.0,9.084547e+06
12142,/ORGANIZATION/ZYNERBA-PHARMACEUTICALS,/funding-round/8992160f6abc8e21563e54a6e97a8922,venture,NaN,14-10-2014,13000000.0,/ORGANIZATION/ZYNERBA-PHARMACEUTICALS,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,...,USA,PA,Philadelphia,Radnor,1/1/14,pharmaceuticals,pharmaceuticals,Health,909.0,9.033949e+06
12143,/ORGANIZATION/ZYNGA,/funding-round/5bebd7acdfd44138f81d162f21c532f9,venture,NaN,12/10/10,6337786.0,/ORGANIZATION/ZYNGA,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,...,USA,CA,SF Bay Area,San Francisco,1/7/07,facebook applications,facebook applications,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12144,/ORGANIZATION/ZYNGA,/funding-round/66d64809546fe2031d3479161e3c88f9,venture,A,1/1/08,10000000.0,/ORGANIZATION/ZYNGA,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,...,USA,CA,SF Bay Area,San Francisco,1/7/07,facebook applications,facebook applications,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12145,/ORGANIZATION/ZYNGA,/funding-round/8411431b5a0389a874e3fae93016c089,venture,B,24-04-2010,15000000.0,/ORGANIZATION/ZYNGA,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,...,USA,CA,SF Bay Area,San Francisco,1/7/07,facebook applications,facebook applications,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12146,/ORGANIZATION/ZYNGA,/funding-round/eb198261da812bc8d3bf475ccec44000,venture,A,12/2/08,5026000.0,/ORGANIZATION/ZYNGA,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,...,USA,CA,SF Bay Area,San Francisco,1/7/07,facebook applications,facebook applications,"Social, Finance, Analytics, Advertising",2714.0,8.772062e+06
12147,/ORGANIZATION/ZYOMYX-INC,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,...,USA,MO,MO - Other,Fremont,1/1/98,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
12148,/ORGANIZATION/ZYOMYX-INC,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11/7/13,14219999.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,...,USA,MO,MO - Other,Fremont,1/1/98,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06
12149,/ORGANIZATION/ZYSTOR,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,...,USA,WI,Milwaukee,Milwaukee,NaN,biotechnology,biotechnology,Cleantech / Semiconductors,2350.0,9.205715e+06

In [215]:
D2_group_df = D2.groupby('variable').apply(my_agg)
D2 = D2.merge(D1_group_df,left_on = 'variable', right_on = 'variable',how='left')

In [216]:
D3_group_df = D3.groupby('variable').apply(my_agg)
D3 = D3.merge(D1_group_df,left_on = 'variable', right_on = 'variable',how='left')

In [187]:
D1_top3 = D1.groupby('variable').agg({'raised_amount_usd':'count'}).sort_values('raised_amount_usd',ascending=False).head(3)
D1_top3

(3, 1)

In [160]:


D2_top3 = D2.groupby('variable').agg({'raised_amount_usd':'count'}).sort_values('raised_amount_usd',ascending=False).head(3)
D2_top3

                                         raised_amount_usd
variable
Others                                                 147
Social, Finance, Analytics, Advertising                133
Cleantech / Semiconductors                             130

In [128]:
D3_top3 = D3.groupby('variable').agg({'raised_amount_usd':'count'}).sort_values('raised_amount_usd',ascending=False).head(3)
D3_top3

                                         raised_amount_usd
variable
Others                                                 110
Social, Finance, Analytics, Advertising                 60
News, Search and Messaging                              52

In [ ]:
Highest_investment_company <- function(df1,top3,n=1){
        df1[which(df1$main_sector==top3[["main_sector"]][n]),]%>%       
         group_by(company_permalink,name)%>%
                summarise_at(.vars="raised_amount_usd",
                             .fun=sum,na.rm = TRUE)%>%
                arrange(desc(raised_amount_usd))%>%
    
top_sector = D1_top3['raised_amunt_usd']

In [206]:
D1[D1.variable == D1_top3.index[0]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

             raised_amount_usd
name
Virtustream         64300000.0

In [207]:
D1[D1.variable == D1_top3.index[1]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

                                 raised_amount_usd
name
SST Inc. (Formerly ShotSpotter)         67933006.0

In [208]:
D2[D2.variable == D2_top3.index[0]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

                raised_amount_usd
name
Electric Cloud         37000000.0

In [209]:
D2[D2.variable == D2_top3.index[1]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

                       raised_amount_usd
name
Celltick Technologies         37500000.0

In [210]:
D3[D3.variable == D3_top3.index[0]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

              raised_amount_usd
name
FirstCry.com         39000000.0

In [211]:
D3[D3.variable == D3_top3.index[1]].groupby('name').agg(
                                                {'raised_amount_usd':'sum'}).sort_values(
                                                'raised_amount_usd',ascending=False)[:1]

                 raised_amount_usd
name
Manthan Systems         50700000.0